{% extends "base_site.html" %}

{% block title %} Demo {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}



{% block content %}
    <div class="right_col" role="main" style="min-height: 936px">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Groove Demo</h3>
                </div>
                <div class="title_right">
                    <div class="col-md-5 col-sm-5  form-group pull-right top_search">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Configuración</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li></li>
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br>
                            <div class="form-horizontal form-label-left">
                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align"
                                           for="qubits">Qubits</label>
                                    <div class="col-md-6 col-sm-6 ">
                                        <input type="number" id="qubits" min="1" max="9" value="4" required="required"
                                               class="form-control ">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="oracle">Definición
                                        Oraculo</label>
                                    <div class="col-md-6 col-sm-6 ">
                                        <input type="number" id="oracle" min="1" max="9" value="4" required="required"
                                               class="form-control ">
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="item form-group">
                                    <div class="col-md-6 col-sm-6 offset-md-3">
                                        <button class="btn btn-primary" type="button">Cancel</button>
                                        <button class="btn btn-primary" type="reset">Reset</button>
                                        <button class="btn btn-success" onclick="displayChart()">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Resultado</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li></li>
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <img src="https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjfy4u1_qnmAhWh6uAKHQT1AEQQjRx6BAgBEAQ&url=https%3A%2F%2Fcommons.wikimedia.org%2Fwiki%2FFile%3ABLANK_ICON.png&psig=AOvVaw2cpNSkwCTaErzW3j-UyZBA&ust=1576029733845821"
                             id="img-chart" alt="Chart">
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}
{% block javascripts %}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        function displayChart() {

            var qubits = document.getElementById("qubits").value;

            var oracle = document.getElementById("oracle").value;


            $('#img-chart').attr('src', '{% url "ajax_bar_chart" %}?oracle=' + oracle + '&qubics=' + qubits);
        }
    </script>
    {{ block.super }}
{% endblock javascripts %}
