{% extends 'index.html' %}

{% block content %}
<head><h1>¡Bienvenido a nuestra web!</h1></head>
<body>
<blockquote>
<li> Descubriendo el Algoritmo de Grove</li>
   <br>Se utiliza para la busqueda de secuencias no ordenadas,basicamente nos ayuda a encontrar valores poco frecuentes.</br>Al ser un algoritmo cuantico busca los datos de una manera mas eficiente que los algoritmos tradicionales </p>

</blockquote>
<blockquote>
<li>Aplicaciones</li>
    <p >Aunque el propósito del algoritmo es la búsqueda en una secuencia se puede encontrar de una manera más adecuada como la "inversión de una función". Así, teniendo la función <i>y=f (x)</i>, que puede ser evaluada en un computador cuántico, con este algoritmo calculamos el valor de <i>x</i> cuando se nos da como entrada el valor de <i>y</i>. Invertir una función puede relacionarse con la búsqueda en una secuencia, si consideramos que la misma es una función que produce el valor de <i>y</i> como la posición ocupada por el valor <i>x</i> en dicha secuencia.
</p>
</blockquote>
<blockquote >
<li>¿Cuando se invento?</li>
    <p>Fue inventado por Lov K.Grover en el año 1996</p>

</blockquote>
<blockquote>
    <a><img src = "/static/build/images/circuito.png" style="width:45%"></a>
</blockquote>

</body>
<footer>Grupo 4 Hackathon Bilbo <cite title="Source Title">Grove Algorithm</cite>
</footer>



{% endblock content %}