{% load i18n %}
{% load static %}
<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <a href="index.html" class="site_title"><i class="fa fa-spinner"></i> <span>Grover Algorithm</span></a>
    </div>

    <div class="clearfix"></div>

    <br/>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <h3>General</h3>
            <ul class="nav side-menu">
                <li><a href="/"><i class="fa fa-home"></i> Inicio</a></li>
                <li><a href="demo"><i class="fa fa-play"></i> Demo</a></li>
            </ul>
        </div>

    </div>
    <!-- /sidebar menu -->
</div>
